<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>地址交易信息</title>
    <!-- Favicon -->
    <style type="text/css">
        #content_left{
            width: 10%;
            height: 200px;
            /*定义浮动，不定义的话，界面会乱*/
            float: left;}
        #content_right{
            width:90%;
            height: 200px;
            float: right;
            }
        #li.active1{
            background-color: #dc3545;
        }
        abc{
            width:5cm;
        }
        .autocut
         {
             width: 200px;
             overflow: hidden;
             white-space: nowrap;
             text-overflow: ellipsis;
             -o-text-overflow: ellipsis;
             -icab-text-overflow: ellipsis;
             -khtml-text-overflow: ellipsis;
             -moz-text-overflow: ellipsis;
             -webkit-text-overflow: ellipsis;
         }

    </style>
    <!-- Favicon -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/assets/font-awesome.min.css">
    <link rel="stylesheet" href="css/assets/bootstrap.min.css" >
    <link rel="stylesheet" href="css/assets/flaticon.css">
    <link rel="stylesheet" href="css/assets/magnific-popup.css">
    <link rel="stylesheet" href="css/assets/meanmenu.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="css/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="css/assets/owl.theme.default.min.css">
    <!-- Main Css -->
    <link rel="stylesheet" href="css/assets/stl.css">
    <link rel="stylesheet" href="css/assets/rs.css">
    <link rel="stylesheet" href="css/assets/ms.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/assets/inner-pages.css">
    <link rel="stylesheet" href="css/assets/inner-pages-responsive.css">
    <link rel="stylesheet" href="css/assets/wallet.css">
<!--    <link rel="stylesheet" href="css/assets/table.css">-->

<!--    <link rel="stylesheet" type="text/css" href="side/css1/default.css">-->
<!--    <link rel="stylesheet" type="text/css" href="side/css1/app.css">-->
<!--    <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">-->

</head>
<body>
<div id="topbar">
    <h1>
        <a th:href="@{/}">WalletExplorer.com: smart Bitcoin block explorer
        </a>
    </h1>
    <form th:action="@{/addressbyid}">
        <input type="text" name="inputdata" placeholder="">
        <input type="hidden" name="wallet_search" placeholder="">
        <input type="hidden" name="page_num"  placeholder="">
        <input type="submit" value="search address/walletid">
    </form>
</div>

<div id="main">
    <ul id="secondbar">
        <li class="active"><a th:href="@{/addressbyid(inputdata=${input},wallet_search='all',page_num=1)}"><i class="fa fa-coffee leftNavIcon"></i>地址关联交易</a>
        </li>
        <li ><a th:href="@{/AddressBaseJump(input=${input},parityjumpid=${parity})}"><i class="fa fa-flask leftNavIcon"></i>地址基本信息 </a>
        </li>
        <li ><a th:href="@{/DownChainJump(input=${input},parityjumpid=${parity})}"><i class="fa fa-truck leftNavIcon"></i>链下服务关联</a>
        </li>
        <li ><a th:href="@{/WebRelatedJump(input=${input},parityjumpid=${parity})}"><i class="fa fa-envelope-o leftNavIcon"></i>网络身份关联</a>
        </li>
        <li ><a th:href="@{/addressEntity(input=${input},parityjumpid=${parity})}"><i class="fa fa-flask leftNavIcon"></i>交易实体 </a>
        </li>
    </ul>
    <br>

    <p th:text="'输入得地址为：'+${input}" style="color: black" ></p>
    <p th:text="'所属钱包ID为：'+${parity}" style="color:black"></p>
    <ul>
        <li>
            <a th:href="@{/testjump(parityjumpid=${parity})}" style="color: black">
                <span class="abc" th:text="'展示钱包地址'"></span>
            </a>
        </li>
    </ul>







    <div class="paging" style="display: flex">
        <a th:if="${page_num} != '1'" th:href="@{/addressbyid(inputdata=${parityid},wallet_search=${wallet_search},page_num=1)}">首页</a>
        <a th:if="${page_num} != '1'" th:href="@{/addressbyid(inputdata=${parityid},wallet_search=${wallet_search},page_num=${page_num}-1)}">上一页...</a>
        <span th:text="'Page '+${page_num}+' / '+${total_page}"></span>
        <a th:if="${page_num} != ${total_page}" th:href="@{/addressbyid(inputdata=${parityid},wallet_search=${wallet_search},page_num=${page_num}+1)}">下一页...</a>
        <a th:if="${page_num} != ${total_page}" th:href="@{/addressbyid(inputdata=${parityid},wallet_search=${wallet_search},page_num=${total_page})}">末页</a>
    </div>
    <table class="txs">
        <tbody>
        <tr>
            <!--列名 序号 地址 余额 incoming txs 最后一次出现在区块中-->
            <th width="5% " height="20"  class="STYLE6"><div align="center"><span style="color:black">交易日期</span></div></th>
            <th width="30%" height="20"   class="STYLE6"><div align="center"><span style="color:black">发送/发送金额(BTC)</span></div></th>
            <th width="30%" height="20"  class="STYLE6"><div align="center"><span style="color:black">接受/接受金额(BTC)</span></div></th>
            <th width="30%" height="20"  class="STYLE6"><div align="center"><span style="color:black">交易HASH值</span></div></th>
        </tr>
<!--        <tr th:each="AddressEntry,Stat: ${list}">-->
<!--            <td th:text="${AddressEntry.value.date}"    width="10% " height="20" class="STYLE6" style="color:black"><div align="center"><span style="color:black"></span></div></td>-->

<!--            <td width="10% " height="20" class="STYLE6" style="color:black">-->
<!--                 <div th:each="sentEntry,Stat1: ${AddressEntry.value.getSent()}">-->
<!--                 <p th:text="${sentEntry['address']}+'&nbsp;&nbsp;&nbsp;'+${sentEntry['value']}"></p>-->
<!--                 </div>-->
<!--             </td>-->

<!--            <td  width="10% " height="20" class="STYLE6" style="color:black">-->
<!--            <div th:each="recvEntry,Stat2: ${AddressEntry.value.getRecv()}">-->
<!--                    <p th:text="${recvEntry['address']}+'&nbsp;&nbsp;&nbsp;'+${recvEntry['value']}"></p>-->
<!--            </div>-->
<!--            </td>-->
<!--            <td width="30%" height="20" bgcolor="#EBEBEB" class="STYLE6" style="color:black"><div align="center">-->
<!--                <a th:href="@{hashjump(hash=${AddressEntry.value.hash},ParityId=${parity},tx_id=${AddressEntry.value.id})}">-->
<!--                    <span th:text="${AddressEntry.value.hash}" style="color:red"></span>-->
<!--                </a>-->
<!--            </div></td>-->

<!--            &lt;!&ndash;                                <a th:href="@{/hashjump}"></a>&ndash;&gt;-->
<!--     <div class="paging" style="display: flex">
        <a href="#">首页</a>
        <a href="#">上一页...</a>
        Page 1 / 1
        <a href="#">下一页...</a>
        <a href="#">末页</a>
    </div>       &lt;!&ndash; 此操作可以设置为删除或修改按钮&ndash;&gt;-->
<!--        </tr>-->
        <tr th:each="AddressEntry: ${list}">
            <td th:text="${AddressEntry.date}"    width="10% " height="20" class="STYLE6" style="color:black"><div align="center"><span style="color:black"></span></div></td>

            <td width="10% " height="20" class="STYLE6" style="color:black">
                <div th:each="sentEntry,Stat1: ${AddressEntry.getSent()}">
                    <p>
                        <span th:text="${sentEntry['address']}"></span>
                        <span>
                    <a style="color: #dc3545;display: inline-block" th:href="@{/addressbyid(inputdata=${sentEntry['wallet_id']},wallet_search='all')}" th:text="'['+${sentEntry['wallet_id']}+']'"></a>
                            </span>
                        <span th:text="${sentEntry['value']}"></span>
                    </p>
                </div>
            </td>

            <td  width="10% " height="20" class="STYLE6" style="color:black">
                <div th:each="recvEntry,Stat2: ${AddressEntry.getRecv()}">
                    <p>
                        <span th:text="${recvEntry['address']}"></span>
                        <span>
                    <a style="color: #dc3545;display: inline-block" th:href="@{/addressbyid(inputdata=${recvEntry['wallet_id']},wallet_search='all')}" th:text="'['+${recvEntry['wallet_id']}+']'">[123]</a>
                            </span>
                        <span th:text="${recvEntry['value']}"></span>
                    </p>
                </div>
            </td>
            <td width="30%" height="20" bgcolor="#EBEBEB" class="STYLE6" style="color:black"><div class="autocut" align="center">
                <a th:href="@{hashjump(hash=${AddressEntry.hash},ParityId=${parity},tx_id=${AddressEntry.id})}">
                    <span th:text="${AddressEntry.hash}" style="color:red"></span>
                </a>
            </div></td>

            <!--                                <a th:href="@{/hashjump}"></a>-->
            <!-- 此操作可以设置为删除或修改按钮-->
        </tr>
        </tbody>
    </table>
    <div class="paging" style="display: flex">
        <a th:if="${page_num} != '1'" th:href="@{/addressbyid(inputdata=${parityid},wallet_search=${wallet_search},page_num=1)}">首页</a>
        <a th:if="${page_num} != '1'" th:href="@{/addressbyid(inputdata=${parityid},wallet_search=${wallet_search},page_num=${page_num}-1)}">上一页...</a>
        <span th:text="'Page '+${page_num}+' / '+${total_page}"></span>
        <a th:if="${page_num} != ${total_page}" th:href="@{/addressbyid(inputdata=${parityid},wallet_search=${wallet_search},page_num=${page_num}+1)}">下一页...</a>
        <a th:if="${page_num} != ${total_page}" th:href="@{/addressbyid(inputdata=${parityid},wallet_search=${wallet_search},page_num=${total_page})}">末页</a>
    </div>
</div>

<div id="foot">
    <div style="float:right;text-align:right;">
        <p><a target="_blank" href="https://mekltdcs.bupt.edu.cn/">版权所有 © 北京邮电大学可信分布式计算与服务教育部重点实验室 2017</a></p>
        <p>办公地点：北京邮电大学科研大楼2层 邮编：100876</p>
        <p>实验室信箱：北京市海淀区西土城路10号北京邮电大学205信箱</p>
    </div>
</div>
</body>
</html>